@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@100&family=Open+Sans:wght@800&family=Poppins:wght@400;500;600;700&family=Work+Sans:ital,wght@1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
/* header Start */
/* Nav Bar Start*/
nav {
  display: flex;
  justify-content: space-between;
  margin: 85px 130px;
}
nav > h3 {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 1.25rem;
}
ul {
  display: flex;
  gap: 34px;
}
ul > li {
  list-style: none;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1rem;
}
ul > li i {
  color: #3a3a3a;
}
li > a {
  text-decoration: none;
}
/* Nav Bar End*/
/* Header Banner Start */
.benar-container {
  display: flex;
  justify-content: space-between;
  background-image: url("./images/Circle\ design.png");
  background-repeat: no-repeat;
  background-position: right;
  margin: 145px 132px 0px 120px;
  align-items: center;
}
.baner-title {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 3rem;
}
.benar-desc {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1rem;
}
.benar-btn {
  border-radius: 40px;
  background: #e02c6d;
  padding: 5px 24px;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 25px;
  border: 0px;
}
.benar-btn i {
  margin-left: 10px;
}
.benar-container img {
  padding: 30px 32px 30px 2px;
}
/* Header Banner End */
/* header End */
/* main Start */
main {
  max-width: 1440px;
  margin: 0px auto;
}
/* logo Section Start */
.logos-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
}
/* logo Section End */
/* Collection Section Start */
.Collection-Sec {
  margin-top: 100px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.sec-title {
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 30px;
}
.collections {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  padding: 16px 15px;
  width: 330px;
}
.img-title {
  color: #18191f;
  font-weight: 500;
  font-size: 1.6rem;
}
.img-price {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 1.25rem;
}
.img-desc {
  color: #787885;
  font-size: 0.8rem;
  font-weight: 700;
}
/* Collection Section End */
/* main End */
/* Media Query For Mobile User */
@media screen and (max-width: 576px) {
  /* header Start */
  /* Nav Bar Start*/
  nav {
    margin: 0;
    flex-direction: column;
  }
  ul {
    flex-direction: column;
    align-items: center;
  }
  nav > h3 {
    text-align: center;
    border-bottom: 2px solid gray;
  }
  /* Nav Bar End*/
  /* Header Banner Start */
  .benar-container {
    background-position: top center;
    margin: 20px 0px;
    flex-direction: column-reverse;
    background-size: 300px;
    padding: 10px;
    text-align: center;
  }
  .benar-container img {
    width: 300px;
    padding: 10px;
  }
  .benar-info {
    margin-top: 20px;
  }
  /* Header Banner End */
  /* header End */
  /* Main Start */
  /* logo Section Start */
  .logos-img {
    flex-wrap: wrap;
    gap: 20px;
  }
  /* logo Section End */
  /* Collection Section Start */
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .collections {
    width: 300px;
  }
  .collections img {
    max-width: 280px;
    padding: 10px;
  }
  .Collection-Sec {
    text-align: center;
  }
  /* Collection Section End */
  /* Main End */
}
/* Media Query For Tablet User */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* header Start */
  /* Nav Bar Start*/
  nav {
    margin: 0;
    flex-direction: column;
  }
  ul {
    justify-content: center;
  }
  nav > h3 {
    text-align: center;
    border-bottom: 2px solid gray;
  }
  /* Nav Bar End*/
  /* Header Banner Start */
  .benar-container {
    background-position: top center;
    margin: 20px 0px;
    flex-direction: column-reverse;
    background-size: 400px;
    padding: 10px;
    text-align: center;
  }
  .benar-container img {
    width: 400px;
    padding: 10px;
  }
  .benar-info {
    margin-top: 20px;
  }
  /* Header Banner End */
  /* header End */
  /* Main Start */
  /* logo Section Start */
  .logos-img {
    flex-wrap: wrap;
    gap: 20px;
  }
  /* logo Section End */
  /* Collection Section Start */
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .collections {
    width: 280px;
  }
  .collections img {
    max-width: 240px;
    padding: 10px;
  }
  .Collection-Sec {
    text-align: center;
  }
  /* Collection Section End */
  /* Main End */
}
